.todo-input{
    height: 23px;
    position: relative;
    bottom: 100px;
    background-color: darkslategrey;
    color: black;
    border-width: 0px;
    border-radius: 10px;
}

.button{
    border-radius: 10px;
    background-color: black;
    position: relative;
    bottom: 100px;
    color: antiquewhite;
    height: 35px;
    border-color: aquamarine;
}